

<!-- 說明 -->
<div class="container-fluid header-message">

  <h1>
    New Poster
    <a type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#edit-modal">
    	<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <%= link_to root_path, class: "btn btn-warning btn-lg" do %>
			<span id="back_button" class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    <% end %>
    <a class="btn btn-warning btn-lg" id="save">Save</a>
		<a type="button" class="btn btn-success btn-lg" id="download" href="<%= @poster.poster_dataUrl %>" download="cover.jpg" 
		<% if @poster.updated_at == @poster.created_at %>
		<%= "disabled" %>
		<% end %>
		> Download
			<span class="glyphicon glyphicon-download" aria-hidden="true"></span>
		</a>
	</h1>
  <ol>
      <li>點選圖片可以裁切</li>
      <li>點選文字填寫基本資料</li>
      <li>在下方設定文字內容</li>	
      <li>存檔後寄給工作人員!</li>
  </ol>

	
</div>

<!-- content -->
<div class="container content">
	
  <!-- preview -->
	<div id="preview">

			<!-- background picture -->
	    <div id="poster-content">
	        <div id="poster-area">
	        	<% unless @poster.background_dataUrl %>
	          	<%= image_tag("place-holder-1920x860.png", id: "poster-image", width: "960", height: "430") %>
	          <% else %>
	          	<img src="<%= @poster.background_dataUrl %>" id="poster-image" width="960" height="430">
	          <% end %>
	        </div>
	        <%= image_tag("camera3.png", { id: "poster-button-icon", width: "30", height: "30", data: { toggle: "modal" }, data: { target: "#poster-modal" } }) %>
	        <a id="poster-button-area">
	            <div class="col-md-8" id="poster-button-word">更換背景圖</div>
	        </a>
	        <a id="poster-button-detector" data-toggle="modal" data-target="#poster-modal"></a>
	    </div>

	    <!-- ioh banner -->
	    <div id="ioh-banner">
	        <%= image_tag("IOH-banner.png", width: "960", height: "110") %>
	    </div>
			
			<!-- selfie -->
	    <div id="selfie-all">
		    <a id="selfie-area">
		    	<% unless @poster.avatar_dataUrl %>
	        	<%= image_tag("place-holder-320x320.png", id: "selfie-image", width: "160", height: "160") %>
	        <% else %>
	          <img src="<%= @poster.avatar_dataUrl %>" id="selfie-image" width="160" height="160">
	        <% end %>
		    </a>
		    <%= image_tag("camera3.png", { id: "selfie-button-icon", width: "30", height: "30", data: { toggle: "modal" }, data: { target: "#selfie-modal" } }) %>
		    <a id="selfie-button-area" data-toggle="modal" data-target="#selfie-modal">
		        <div class="col-md-8" id="selfie-button-word">更換大頭貼</div>
		    </a>
		    <a id="selfie-detector" data-toggle="modal" data-target="#selfie-modal"></a>
	    </div>

	     <!-- description -->
	    <div id="poster-content-area">
	        <textarea id="poster-content-textarea" placeholder="（簡介）"><%= @poster.description %></textarea>
	    </div>
			
			<!-- location -->
	    <div id="location-area">
	        <textarea id="location-textarea"><% if @poster.location %><%= @poster.location %><% else %><%= "地點：" %><% end %></textarea>
	    </div>
			
			<!-- experience -->
	    <div id="name-experience-area">
	        <textarea id="name-textarea" placeholder="（姓名）"><%= @poster.name %></textarea>
	        <textarea class="experience-textarea" id="experience-1" placeholder="（經歷1）"><%= @poster.info_one %></textarea>
	        <textarea class="experience-textarea" id="experience-2" placeholder="（經歷2）"><%= @poster.info_two %></textarea>
	        <textarea class="experience-textarea" id="experience-3" placeholder="（經歷3）"><%= @poster.info_three %></textarea>
	    </div>
	</div>

	<!-- edit-modal -->
	<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
				
				<!-- header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myEditModalLabel">Settings</h4>
        </div>
				
				<!-- body -->
        <div class="modal-body">
        	
        	<!-- edit area-->
					<div class="edit-area">
						
						<label>大頭貼</label>
					  
						<div class="checkbox">
					    <label>
					      <input id="selfie-toggle" type="checkbox" 
					      	<% if @poster.use_avatar %>
									<%= "checked" %>
									<% end %>
									> 使用
					    </label>
					  </div>

					  <label>地點字顏色</label>
					  
						<div class="radio">
						  <label>
						    <input type="radio" name="location-color" class="location-radio" value="白色" 
								<% if @poster.location_white %>
								<%= "checked" %>
								<% end %>
						    > 白色
						  </label>
						  <label>
						  <input type="radio" name="location-color" class="location-radio" value="黑色"
								<% unless @poster.location_white %>
								<%= "checked" %>
								<% end %>
						  	> 黑色
						  </label>
						</div>

					  <label>經歷顏色</label>
					  
						<div class="checkbox experience-checkbox">
					    <label>
					      <input id="experience-toggle-1" type="checkbox" 
								<% if @poster.info_one_red %>
								<%= "checked" %>
								<% end %>
					      > 經歷一
					    </label>
					    <label>
					      <input id="experience-toggle-2" type="checkbox"
					      <% if @poster.info_two_red %>
								<%= "checked" %>
								<% end %>
					      > 經歷二
					    </label>
					    <label>
					      <input id="experience-toggle-3" type="checkbox"
					      <% if @poster.info_three_red %>
								<%= "checked" %>
								<% end %>
					      > 經歷三
					    </label>
					  </div>
					  
					</div>
        </div>
				
				<!-- footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">確定</button>
        </div>

      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
	</div>

	<!-- selfie-modal -->
	<div class="modal fade" id="selfie-modal" tabindex="-1" role="dialog" aria-labelledby="mySelfieModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
				
				<!-- header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="mySelfieModalLabel">大頭貼裁切</h4>
        </div>
				
				<!-- body -->
        <div class="modal-body">
        	<div class="collapse" id="selfie-error-message">
				  	<div class="alert alert-danger"></div>
					</div>
          <div class="image-editor" origin-image="<%= @poster.original_avatar_dataUrl %>">
            <input type="file" class="cropit-image-input" src=" <%= @poster.original_avatar_dataUrl %>" >
            <!-- .cropit-image-preview-container is needed for background image to work -->
            <div class="cropit-image-preview-container">
              <div class="cropit-image-preview" id="selfie-cropit-image-preview"></div>
            </div>
            
            <div id="range-bar">
							<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
							<input type="range" class="cropit-image-zoom-input" >
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						</div>
              
          </div>
        </div>
				
				<!-- footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-default" id="selfie-export-exit-button" data-dismiss="modal">關閉</button>
            <button type="button" class="btn btn-primary selfie-export">確定</button>
        </div>

      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
	</div>

	<!-- poster-modal -->
  <div class="modal fade" id="poster-modal" tabindex="-1" role="dialog" aria-labelledby="myPosterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" id="poster-modal-dialog">
      <div class="modal-content">
        
        <!-- header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myPosterModalLabel">背景圖裁切</h4>
        </div>
        
        <!-- body -->
        <div class="modal-body">
        	<div class="collapse" id="poster-error-message">
				  	<div class="alert alert-danger"></div>
					</div>

          <div class="image-editor" id="poster-image-editor" origin-image="<%= @poster.original_background_dataUrl %>">
            <input type="file" class="cropit-image-input" src=" <%= @poster.original_background_dataUrl %>">
            <!-- .cropit-image-preview-container is needed for background image to work -->
            <div class="cropit-image-preview-container">
              <div class="cropit-image-preview" id="poster-cropit-image-preview"></div>
            </div>
						
						<div id="range-bar">
							<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
							<input type="range" class="cropit-image-zoom-input">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						</div>
              
          </div>
        </div>
        
        <!-- footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" id="poster-export-exit-button"  data-dismiss="modal">關閉</button>
          <button type="button"  class="btn btn-primary poster-export">確定</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal -->
  </div>

  <!-- error-modal -->
  <div class="modal fade error-modal" tabindex="-1" role="dialog" aria-labelledby="error-ModalLabel">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">

	      <!-- header -->
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">錯誤</h4>
	      </div>

	      <!-- body -->
	      <div class="modal-body">
	        <span id="error-message">Error Massage</span>
	      </div>

	      <!-- footer -->
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
	      </div>

	    </div>
	  </div>
	</div>
</div>

<!-- footer -->
<div class="container-fluid footer"></div>

<%= javascript_include_tag 'jquery.cropit', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'cover-maker', 'data-turbolinks-track' => true %>



