<% if can? :create, Poster %>

<!-- 上頭的按鈕 -->
<div class="container-fluid">
	<% if current_user %>		
		<div class="row">
			<a class="btn btn-default" id="save-btn"> Save</a>
			<a class="btn btn-default" id="download"> Download</a>
			<a class='btn btn-default' data-toggle="modal" data-target="#delete-modal">Delete</a>
			<span id="save-text">所有變更已儲存</span>

		</div>
	<% end %>

	<div class="row" style="margin-top: 30px;">
		<div class="col-xs-2">
			<h4>Detail Settings</h4>

			<p class="btn-group-title">大頭貼</p>
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-primary 
				<% if @poster.use_avatar %>
			    	<%= "active" %>
			    <% end %>
				" id="no-border-radius-1">
			    	<input type="radio" name="options" class="selfie-radio" value ="true"  
			    		<% if @poster.use_avatar %>
			    			<%= "checked" %>
			    		<% end %>
			    	>使用
			  	</label>
			  	<br>
			  	<label class="btn btn-primary 
			  	<% unless @poster.use_avatar %>
			    	<%= "active" %>
			    <% end %>
			  	"  id="no-border-radius-2">
			    	<input type="radio" name="options" class="selfie-radio" value ="false" 
			    		<% unless @poster.use_avatar %>
			    			<%= "checked" %>
			    		<% end %>
			    	>不使用
			  	</label>
			</div>

			<p class="btn-group-title">地點文字顏色</p>
			<div class="btn-group" data-toggle="buttons">
			  	<label class="btn btn-primary 
			  	<% if @poster.location_white %>
					<%= "active" %>
				<% end %>
			  	"  id="no-border-radius-3">
					<input type="radio" name="location-color" class="location-radio" value="白色" 
						<% if @poster.location_white %>
							<%= "checked" %>
						<% end %>
					> 白色
				</label >
				<br>
				<label class="btn btn-primary 
				<% unless @poster.location_white%>
					<%= "active" %>
				<% end %>
				"  id="no-border-radius-4">
					<input type="radio" name="location-color" class="location-radio" value="黑色"
						<% unless @poster.location_white %>
							<%= "checked" %>
						<% end %>
					> 黑色
				</label>
			</div>

			<p class="btn-group-title">分享的學/經歷（可複選）</p>
			<div class="btn-group experience-checkbox" data-toggle="buttons">
			  	<label class="btn btn-primary 
			  	<% if @poster.info_one_red %>
			  		<%= "active" %>
			  	<% end %>"  id="no-border-radius-5"
			  	>
					<input id="experience-toggle-1" type="checkbox"
					<% if @poster.info_one_red %>
						<%= "checked" %>
					<% end %>
					>學經歷一
				</label>
				<br>
				<label class="btn btn-primary 
				<% if @poster.info_two_red %>
					<%= "active" %>
				<% end %>
				"  id="no-border-radius-6">
					<input id="experience-toggle-2" type="checkbox"
					<% if @poster.info_two_red %>
						<%= "checked" %>
					<% end %>
					>學經歷二
				</label>
				<br>
				<label class="btn btn-primary 
				<% if @poster.info_three_red %>
					<%= "active" %>
				<% end %>
				"  id="no-border-radius-7">
					<input id="experience-toggle-3" type="checkbox"
					    <% if @poster.info_three_red %>
							<%= "checked" %>
						<% end %>
					>學經歷三
				</label>
			</div>
		</div>

	  	<!-- preview -->
	  	<div class="col-xs-10">
			<div id="preview">
					<!-- background picture -->
			    <div id="poster-content">
			        <div id="poster-area">
			        	<% if @posterData[:background] == "" %>
			          	<%= image_tag("place-holder-1920x860.png", id: "poster-image", width: "960", height: "430") %>
			          <% else %>
			          	<img src="<%= @posterData[:background] %>" id="poster-image" width="960" height="430">
			          <% end %>
			        </div>
			        <%= image_tag("camera3.png", { id: "poster-button-icon", width: "30", height: "30", data: { toggle: "modal" }, data: { target: "#poster-modal" } }) %>
			        <a id="poster-button-area">
			            <div class="col-md-8" id="poster-button-word">學校背景照片</div>
			        </a>
			        <a id="poster-button-detector" data-toggle="modal" data-target="#poster-modal"></a>
			    </div>

			    <!-- ioh banner -->
			    <div id="ioh-banner">
			        <%= image_tag("IOH-banner.png", width: "960", height: "110") %>
			    </div>
					
					<!-- selfie -->
			    <div id="selfie-all">
				    <a id="selfie-area">
				    	<% if @posterData[:avatar] == "" %>
			        	<%= image_tag("place-holder-320x320.png", id: "selfie-image", width: "160", height: "160") %>
			        <% else %>
			          <img src="<%= @posterData[:avatar] %>" id="selfie-image" width="160" height="160">
			        <% end %>
				    </a>
				    <%= image_tag("camera3.png", { id: "selfie-button-icon", width: "30", height: "30", data: { toggle: "modal" }, data: { target: "#selfie-modal" } }) %>
				    <a id="selfie-button-area" data-toggle="modal" data-target="#selfie-modal">
				        <div class="col-md-8" id="selfie-button-word">更換大頭貼</div>
				    </a>
				    <a id="selfie-detector" data-toggle="modal" data-target="#selfie-modal"></a>
			    </div>

			     <!-- description -->
			    <div id="poster-content-area">
			        <textarea id="poster-content-textarea" placeholder="講座簡介"><%= @poster.description %></textarea>
			    </div>
					
					<!-- location -->
			    <div id="location-area">
			        <textarea id="location-textarea"><% if @poster.location %><%= @poster.location %><% else %><%= "地點：" %><% end %></textarea>
			    </div>
					
					<!-- experience -->
			    <div id="name-experience-area">
			        <textarea id="name-textarea" placeholder="講者姓名（中文＋英文）"><%= @poster.name %></textarea>
			        <textarea class="experience-textarea" id="experience-1" placeholder="學經歷 1"><%= @poster.info_one %></textarea>
			        <textarea class="experience-textarea" id="experience-2" placeholder="學經歷 2"><%= @poster.info_two %></textarea>
			        <textarea class="experience-textarea" id="experience-3" placeholder="學經歷 3"><%= @poster.info_three %></textarea>
			    </div>
			</div>
		</div>
	</div>

	<!-- selfie-modal -->
	<div class="modal fade" id="selfie-modal" tabindex="-1" role="dialog" aria-labelledby="mySelfieModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
		    <div class="modal-content">
						
				<!-- header -->
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		          <h4 class="modal-title" id="mySelfieModalLabel">大頭貼裁切</h4>
		        </div>
						
				<!-- body -->
		        <div class="modal-body">
		        	<div class="collapse" id="selfie-error-message">
						  	<div class="alert alert-danger"></div>
							</div>
		          <div class="image-editor" origin-image="<%= @posterData[:original_avatar] %>">
		            <input type="file" class="cropit-image-input" src=" <%= @posterData[:original_avatar] %>" >
		            <!-- .cropit-image-preview-container is needed for background image to work -->
		            <div class="cropit-image-preview-container">
		              <div class="cropit-image-preview" id="selfie-cropit-image-preview"></div>
		            </div>
		            
		            <div id="range-bar">
						<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
						<input type="range" class="cropit-image-zoom-input" >
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</div>		              
		          </div>
		        </div>
		
				<!-- footer -->
		        <div class="modal-footer">
		            <button type="button" class="btn btn-default" id="selfie-export-exit-button" data-dismiss="modal">關閉</button>
		            <button type="button" class="btn btn-primary selfie-export">確定</button>
		        </div>

		    </div>
	      <!-- /.modal-content -->
	    </div>
    <!-- /.modal -->
	</div>

	<!-- poster-modal -->
  <div class="modal fade" id="poster-modal" tabindex="-1" role="dialog" aria-labelledby="myPosterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" id="poster-modal-dialog">
      <div class="modal-content">
        
        <!-- header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myPosterModalLabel">背景圖裁切</h4>
        </div>
        
        <!-- body -->
        <div class="modal-body">
        	<div class="collapse" id="poster-error-message">
				  	<div class="alert alert-danger"></div>
					</div>

          <div class="image-editor" id="poster-image-editor" origin-image="<%= @posterData[:original_background] %>">
            <input type="file" class="cropit-image-input" src=" <%= @posterData[:original_background] %>">
            <!-- .cropit-image-preview-container is needed for background image to work -->
            <div class="cropit-image-preview-container">
              <div class="cropit-image-preview" id="poster-cropit-image-preview"></div>
            </div>
						
			<div id="range-bar">
				<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
					<input type="range" class="cropit-image-zoom-input">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				</div>
              
          </div>
        </div>
        
        <!-- footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" id="poster-export-exit-button"  data-dismiss="modal">關閉</button>
          <button type="button"  class="btn btn-primary poster-export">確定</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal -->
  </div>

  <!-- error-modal -->
  <div class="modal fade error-modal" tabindex="-1" role="dialog" aria-labelledby="error-ModalLabel">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">

	      <!-- body -->
	      <div class="modal-body modal-body-rewrite">
	        <span id="error-message">Error Massage</span>
	      </div>

	      <!-- footer -->
	      <div class="modal-footer modal-footer-rewrite modal-footer-btn-center">
	        <a class="btn btn-default modal-btn modal-btn-middle" data-dismiss="modal">Close</a>
	      </div>

	    </div>
	  </div>
	</div>
</div>

<!-- delete modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body modal-body-rewrite">確定要刪除此講者海報？</div>
      <div class="modal-footer modal-footer-rewrite">
        <a class="btn btn-default modal-btn modal-btn-left" rel="nofollow" data-method="DELETE" href="/posters/<%= @poster.id %>">YES</a>
        <a class="btn btn-default modal-btn modal-btn-right" data-dismiss="modal">NO</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- This is use to download -->
<a id="download-start" href="/posters/download/<%= @poster.id %>" data-method="POST" style="display: none;"></a>

<!-- footer -->
<div class="container-fluid footer"></div>

<%= javascript_include_tag 'jquery.cropit', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'cover-maker', 'data-turbolinks-track' => true %>

<% end %>



