
<div class="container">

	<% if current_user %>
	  <li><%= link_to current_user.account_name, "#" %></li>
	  <li><%= link_to "logout", logout_path, method: "delete" %></li>
	<% else %>
	  <li><%= link_to "login", login_path %></li>
	  <li> <%= link_to "signup", signup_path %></li>
	<% end %>

	<br>

	<h1>IOH Cover Maker</h1>
      
    <% if current_user %>
			<%= link_to 'Create New Poster', new_poster_path  %>

			<%= form_tag search_path, id: 'search-form', remote: true do %>
				
				<%= text_field_tag 'query', nil, placeholder: 'Search', id: 'search-text_field' %>

				<%= submit_tag 'Go', id: 'search-submit' %>

			<% end %>

			<div class="posters">

			  <% @posters.each do |poster| %>

				<h2><%= poster.name %></h2>

				<%= link_to 'Edit', edit_poster_path(poster) %>
				<%= link_to "Delete", poster_path(poster), method: "DELETE" %>
			
	  		<% end %>
	  	</div>

	<% end %>
</div>

<%= javascript_include_tag 'posterIndex', 'data-turbolinks-track' => true %>