
<div class="container">

	<% if current_user %>
	  <li><%= link_to current_user.account_name, "#" %></li>
	  <li><%= link_to "logout", logout_path, method: "delete" %></li>
	<% else %>
	  <li><%= link_to "login", login_path %></li>
	  <li> <%= link_to "signup", signup_path %></li>
	<% end %>

	<br>

	<h1>IOH Cover Maker</h1>
      
             <% if current_user %>
	  <%= link_to 'Create New Poster', new_poster_path  %>

	  <% @posters.each do |poster| %>

		<h2><%= poster.name %></h2>

		<%= link_to 'Edit', edit_poster_path(poster) %>

	  <% end %>

	<% end %>
</div>