<!-- <main>
  <h1>Login In First</h1>
  <form class="flp">
    <div>
      <input type="text" id="yname" />
      <label for="yname">Your Name</label>
    </div>
    <div>
      <input type="text" id="ypassword" />
      <label for="ypassword">Your Password</label>
    </div>
  </form>
</main> -->

<!-- <div class="login-form-container clearfix"> -->
<div id="form-background">
  <!-- <div class="login-form"> -->
  <div id="form-main">
    <h1 id="login-form-title">Login In First</h1>
    <%= form_tag "/create_login_session", { :class => "flp" } do %>
        <div>
          <!-- <input type="text" id="yname" /> -->
          <%= text_field_tag :account_name, params[:account_name] %>
          <!-- <label for="yname">Your Name</label> -->
          <%= label_tag :account_name, "Your Name" %>
        </div>
        
        <div>
          <!-- <input type="text" id="ypassword" /> -->
          <%= password_field_tag :password, params[:password] %>
          <!-- <label for="ypassword">Your Password</label> -->
          <%= label_tag :password, "Your Password" %>
        </div>
        
        <div class="remember-me">
          <%= check_box_tag :remember_me, 1, params[:remember_me] %>
          <%= label_tag :remember_me %>
        </div>

        <p> <%= submit_tag "Let's login", :class => "login-button btn btn-primary" %> </p>

        <div class="need-signup">
          <%= link_to "No account? Let's register one now!", signup_path %>
        </div>

    <% end %>
  </div>
  <br>
</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!-- </div> -->
<!-- </div> -->